@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Syne:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Syne', sans-serif;
    text-align: center;
    color:rgb(240, 240, 240);
}

h1 {
    font-family: 'Syne', sans-serif;
    text-align: center;
    color: #11752f;
    margin-top: 5px;
}

h2 {
    font-family: 'Syne', sans-serif;
    text-align: center;
    color: #079933;
    font-size: 140%;
    margin-top: 4px;
}

h3 {
    font-family: 'Syne', sans-serif;
    text-align: center;
    color: #12c547;
    font-size: 110%;
}

 /* navigation menu styles */

#main-menu {
    font-size: 145%;
    letter-spacing: 7px;
    background-color: #067a23;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}
ul {
    font-family: 'Syne', sans-serif;
}
#main-menu ul {
    display: inline-block;
    list-style-type: none;
}
#main-menu li {
    font-family: 'Syne', sans-serif;
    display: inline-block;
    list-style-type: none;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-decoration: none;
    color:rgb(240, 240, 240);
}
.active {
    color: #000000;
    text-decoration: double; 
}
a {
    text-decoration: none;
}
#logo {
    font-family: 'Aclonica', sans-serif;
    color: white;
    background-color: #1f1f1f;
}

/* contact us */
#photographer-woman {
    height: 450px;
    width: 100%;
    background: url('../images/photographer-woman.jpg') no-repeat center center;
}
#contact-info {
    font-size: 110%;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    display: inline-block;
}
#contact-info h1 {
    text-align: center;

}
#contact-info li {
    list-style: none;
    letter-spacing: 3px;
    display: inline-block;
}
#contact-form {
    border: 5px 5px;
    border-radius: 5px;
    width: 60%;
    height: 320px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 25px;  
}
#contact-form form {
    display: inline-block;
}
#contact-form button {
    background-color: #ffffff;
    border: 5px 7px;
    border-radius: 10px;
    margin-top: 7px;
}
#contact-details {
    width: 100%;
}
#map-location {
    width: 100%;
    display: block;
}

/* competitions page */
#beach-landscape {
    height: 450px;
    width: 100%;
    background: url('../images/beach-landscape.jpg') no-repeat top center;
    background-size: cover;
    filter: brightness(70%);
}
#competitions {
    display: inline-block;
    text-align: center;
    width: 80%;
}

/* photography lessons */

#lessons-introduction {
    width: 70%;
    background-color: rgb(14, 14, 14);
    color:#ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
}

/* w3schools gallery tutorial helped me with my image/gallery code */
#gallery {
     border: 1px solid rgb(0, 0, 0);
}    
.gallery img {
     width: 100%;
     height: auto;
}   
* {
     box-sizing: border-box;
}    
.responsive {
     padding: 0 5px;
     float: left;
     width: 24.99999%;
}
#lessons-details {
    width: 80%;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}
#skill-levels {
    display: inline-block;
    width: 25%;
}
#equipment-knowledge {
    display: inline-block;
    width: 25%;
}
#pricing {
    display: inline-block;
    width: 25%;
    text-align: center;
}
#pricing li {
    list-style: none;
}
#skill-levels li {
    list-style: none;
}
#equipment-knowledge li {
    list-style: none;
}
#our-team {
    height: 200px;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 40px;
    display: inline-block; 
}
#studio {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#studio img {
    width: 900px;
    display: inline-block;
}
#photography-studio {
    background: url('../images/photography-studio.jpg') no-repeat center center;
    height: 450px;
    width: 100%;
    background-size: cover;
    filter: brightness(70%);
}
#photographer-1 {
    width: 20%;
    height: 200px;
    background-color: #067a23;
    border-radius: 360px;
    display: inline-block;
    background: url('../images/photographer-john.jpg') no-repeat center center;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
    filter: brightness(70%);
    text-shadow: 1px 1px #000000;
}
#photographer-2 {
    width: 20%;
    height: 200px;
    background-color: #067a23;
    border-radius: 360px;
    display: inline-block;
    background: url('../images/photographer-clare.jpg') no-repeat top center;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
    filter: brightness(70%);
    text-shadow: 1px 1px #000000;
}
#photographer-3 {
    width: 20%;
    height: 200px;
    background-color: #067a23;
    border-radius: 360px;
    display: inline-block;
    background: url('../images/photographer-nathan.jpg') no-repeat center center;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
    filter: brightness(70%);
    text-shadow: 1px 1px #000000;
}
a {
    color:rgb(255, 255, 255);
}
a:hover { 
    color:#000000;
    text-decoration: underline;
}

/* images */
#camera-equipment {
    height: 450px;
    width: 100%;
    background: url('../images/camera-equipment.jpg') no-repeat bottom center;
    filter: brightness(70%);
}

/* buttons */
button {
    background-color:#067a23;
    display: inline-block;
    border-style: inset;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 6px 2px 2px 2px;
    border-radius: 5px;
}
button:hover {
    color:rgb(0, 0, 0);
    background-color: #ffffff;
}
button a {
    color:rgb(0, 0, 0);
}
button a:hover {
    color:black;
    text-decoration: none;
}

/* footer */

#social-media {
    background-color: #067a23;
}
#social-media h2 {
    color:#fcfcfc;
    font-size: 90%;
    margin-top: 15px;
}
footer {
    width: 100%;
    font-size: 130%;
    text-align: center;
    height:50px;  
}

footer ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 10px;
    border-top: 5px 5px;
}
/* form inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 8px 8px 8px 8px;
    border-radius: 6px;
    resize: vertical;
    text-align:left;
}
  label {
    padding: 20px 20px 20px 20px;
    display: inline-block;
}
  input[type=tel] {
    width: 100%;
    padding: 8px 8px 8px 8px;
    border-radius: 6px;
    resize: vertical;
} 
  input[type=submit] {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}
  input[type=submit]:hover {
    background-color: #45a049;
}
  input[type=reset] {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
}
input[type=email] {
    width: 100%;
    padding: 8px 8px 8px 8px;
    border-radius: 6px;
    resize: vertical;
}
input[type=file] {
    text-align: center;
    color: #ffffff;
    border: none;
    margin-left: 10px;
    display: inline-block;
}
#query {
    height: 100px;  
}
html {
    background-color: #0f0f0f;
}

/* media queries */

/* large-medium screens */
@media screen and (max-width: 1200px) {
    p {
        font-size: 96%;
        color: rgb(250, 250, 250); 
    }
    label {
        padding: 10px 10px 10px 10px;
        display: inline-block;
    }
    #main-menu {
         text-align: center;
    }
    #gallery {
        margin: auto;
        margin-bottom: 5px;
        max-height: 300px;
    }
}
/* small screens, laptops */
@media screen and (max-width: 1024px) {
    #main-menu li {
        font-size: 90%;
    }
}

/* ipads, tablets */
@media screen and (max-width: 768px) {
    #main-menu li {
        font-size: 85%;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 500px) {
    p {
        color: rgb(250, 250, 250);
    }
    h2 {
        margin-top: 15px;
    }
    h3 {
        margin-top: 12px;
    }
    #logo {
        font-size: 95%;
    }
    #main-menu {
        display: block;
    }
    #main-menu li {
        font-size: 60%;
    }
    li a {
        display: block;
        text-align: justify;
    }
    nav ul {
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 5px;
    
    }
    #camera-equipment {
        height: 250px;
        width: 100%;
        background: url('../images/camera-equipment.jpg') no-repeat bottom center;
    }
    #beach-landscape {
        height: 250px;
        width: 100%;
        background: url('../images/beach-landscape.jpg') no-repeat top center;
        background-size: cover;
    }
    #photographer-woman {
        height: 250px;
        width: 100%;
        background: url('../images/photographer-woman.jpg') no-repeat center center;
    }
    #photography-studio {
        background: url('../images/photography-studio.jpg') no-repeat center center;
        height: 250px;
        width: 100%;
        background-size: cover;
    }
    #gallery {
        max-width: 500px;
        max-height: 300px;
    }     

    /*contact us page */
    #contact-details {
        font-size: 90%;
    }
    #map-location {
        max-width: 500px;
        display: block;
    }    
    #contact-form {
        max-width: 450px;
    } 
    
    label {
        padding: 5px 5px 5px 5px;
        display: inline-block;
      }
    
    iframe {
        max-width: 350px;
        max-height: 350px;
        margin-top: 15px;
    }

    .responsive {
        width: 100%;
    }

    /*lessons page */

    #lessons-introduction {
        width: 100%;
    }
    #skill-levels {
        font-size: 75%;
        float: left;
        width: 33%;
        margin-right: 2px;
        text-align: left;
    }
    #skill-levels h2 {
        font-size: 110%;
    }
    #pricing {
        font-size: 75%;
        float: right;
        width: 33%;
        text-align: right;
    }
    #pricing h2 {
        font-size: 110%;
        text-align: right;
    }
    #equipment-knowledge {
        font-size: 75%;
        width: 33%;
        text-align: center;
    }
    #equipment-knowledge h2 {
        font-size: 110%;
    }
    #our-team {
        max-height: 500px;
        display: inline-block;
    }
    #photographer-1 {
        max-height: 180px;
        width: 180px;
        margin-top: 8px;
        display: inline-block;
        filter: brightness(80%);
        text-shadow: 2px 1px #000000;
    }
    #photographer-2 {
        max-height: 180px;
        width: 180px;
        margin-top: 8px;
        display: inline-block;
        filter: brightness(80%);
        text-shadow: 2px 1px #000000;
    }
    #photographer-3 {
        max-height: 180px;
        width: 180px;
        margin-top: 8px;
        display: inline-block;
        filter: brightness(80%);
        text-shadow: 2px 1px #000000;
    }
    #studio {
        max-width: 380px;
        max-height: 300px;
        display: inline-block;
    }
    #studio img {
        max-width: 350px;
        display: inline-block;
    }
   
    #get-in-contact {
        margin-top: 180px;
        margin-bottom: 10px;
    }

/* contact us page */
    .row {
        line-height: 15px;
        font-size: 90%;
    }
    #contact-form {
        width: 90%;
        height: 300px;
    }
    label {
        font-size: 90%;
        height: 35px; 
    }
    p {
        font-size:95%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }
    input[type=radio] {
        font-size: 90%;
    }
}

@media screen and (max-width: 320px) {
    p {font-size: 90%;
    }
    #contact-form {
        max-width: 300px;
    }
    #studio img {
        max-width: 300px;
    }
    #main-menu {
        display: block;
    }
}