@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:black;
}

h1 {
    font-family: Alata, sans-serif;
    text-align: center;
    color: #2359c4;
}
h2 {
    font-family: Alata, sans-serif;
    text-align: center;
    color:#2359c4;
    font-size: 95%;
}

#main-menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#main-menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    background-color:aqua;
    text-decoration: none;
}



#canon-camera {
    height: 550px;
    width: 100%;
    background: url('../images/canon-camera.jpg') no-repeat center center;
}

button {
    background-color:#2359c4;
    border: none;
    text-align: center;
    text-decoration: none;

}
