@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:rgb(240, 240, 240);
}

h1 {
    font-family: Alata, sans-serif;
    text-align: center;
    color: #11752f;
}
h2, h3 {
    font-family: Alata, sans-serif;
    text-align: center;
    color: #0daa3c;
    font-size: 110%;
}

 /* navigation menu styles */

#main-menu {
    font-size: 145%;
    letter-spacing: 7px;
    background-color: #ffffff;
    text-transform: uppercase;
}
ul {
    font-family: Alata, sans-serif;
}

#main-menu li {
    font-family: Alata, sans-serif;
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    color:rgb(240, 240, 240);
    
}

#logo {
    font-family: Alata, sans-serif;
    color: white;
    margin-left: 0px;
    background-color: #067a23;

}
/* contact us */
#photographer-woman {
    height: 450px;
    width: 100%;
    background: url('../images/photographer-woman.jpg') no-repeat center center;
}
#contact-info {
    font-size: 120%;
    color: rgb(255, 255, 255);
    width: 70%;
    display: inline-block;
    margin-top: 50px;
    text-align: left;
}
#contact-info h1 {
    text-align: left;

}
#contact-info li {
    list-style: none;
}

#contact-form {
    font-size: 110%;
    background-color: #067a23;
    border: 5px 5px;
    border-radius: 25px;
    width: 70%;
    height: 300px;
    display: inline-block;
    margin-top: 5px;
}
#contact-form form {
    border: 5px 7px #067a23;
    display: inline-block;
}

#contact-form button {
    background-color: #ffffff;
    border: 5px 7px;
    border-radius: 10px;
    margin-top: 7px;
}
#contact-details {
    float: left;
    width: 50%;
}

#map-location {
    float: right;
    width: 50%;
    display: inline-block;
}

/* photography lessons */

#lessons-introduction {
    width: 70%;
    background-color: rgb(14, 14, 14);
    color:#ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
}

#gallery {
    width: 100%;
    height: 380px;
    text-align: center;
    font-size: 105%;
    background-color:#000000;

}

#lessons-details {
    width: 50%;
    text-align: center;
    display: inline-block;
}
#skill-levels {
    float: left;
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
#equipment-knowledge {
    float:right;
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
#skill-levels li {
    list-style: none;
}
#equipment-knowledge li {
    list-style: none;
}


#landscape {
    width: 24%;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2c2c2c;
    background: url('../images/landscape-waterfall.jpg') no-repeat center center;
    color:#000000;
    display: inline-block;
    background-size: contain;
    text-shadow: 2px 2px #424242;
   
}

#portrait {
    width: 24%;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
    background: url('../images/portrait.png') no-repeat center center;
    color:#000000;
    display: inline-block;
    background-size: contain;
    text-shadow: 2px 2px #424242;
    
}

#product {
    width: 24%;
    height: 300px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
    background: url('../images/product-strawberries.jpg') no-repeat center center;
    color: #000000;
    display: inline-block;
    background-size: contain;
    text-shadow: 2px 2px #424242;
    
}

#street {
    width: 24%;
    height: 300px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
    background: url('../images/street.jpg') no-repeat center center;
    color: #000000;
    display: inline-block;
    background-size: contain;
    text-shadow: 2px 2px #424242;
}

#our-team {
    max-height: 200px;
    max-width: 100%;
    margin-bottom: 120px;
    
}
#studio {
    height: 300px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#photography-studio {
    background: url(../images/photography-studio.jpg) no-repeat center center;
    height: 450px;
    width: 100%;
    background-size: cover;
}
#photographer-1 {
    width: 20%;
    height: 300px;
    background-color: #067a23;
    border-radius: 200px;
    display: inline-block;
    background: url(../images/photographer-john.jpg) no-repeat center center;
    background-size: cover;
}
#photographer-2 {
    width: 20%;
    height: 300px;
    background-color: #067a23;
    border-radius: 200px;
    display: inline-block;
    background: url(../images/photographer-clare.jpg) no-repeat top center;
    background-size: cover;
}
#photographer-3 {
    width: 20%;
    height: 300px;
    background-color: #067a23;
    border-radius: 200px;
    display: inline-block;
    background: url(../images/photographer-nathan.jpg) no-repeat center center;
    background-size: cover;
}
a {
    color:rgb(255, 255, 255);
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
    color:#11752f;
}

a:active { 
    text-decoration: underline; 
}

/* images */
#canon-camera {
    height: 450px;
    width: 100%;
    background: url('../images/canon-camera.jpg') no-repeat center center;
}

#beach-landscape {
    height: 450px;
    width: 100%;
    background: url('../images/beach-landscape.jpg') no-repeat top center;
    background-size: cover;
}

button {
    background-color:#067a23;
    display: inline-block;
    border-style: inset;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
}

button a {
    color:rgb(255, 255, 255);
}
button a:hover {
    color:black;
    text-decoration: none;
}

/* footer */

#social-media {
    background-color: #067a23;
}
footer {
    width: 100%;
    font-size: 130%;
    text-align: center;
    height:50px;
    
}

footer ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 10px;
    border-top: 5px 5px;


}
html {
    background-color: #0f0f0f;
}

